@import '../../styles/variables.scss';

.socials {
    &__container {
        
    }

    &__item {
        color: $font-color-secondary;
        padding: 0 6px;
        transition: color .1s;
        font-size: x-large;

        @media screen and (max-width: 500px) {
            font-size: medium;
        }

        &:hover {
            color: rgba(255,255,255,0.7);
        }
    }
}