@import '../../styles/variables.scss';

.footer{
    &__container {
        background-color: $background-color-secondary;
        padding: 10px 0px;
        line-height: 2;
    }   

    &__content {
        @extend .centeredContainer;

        display: flex;
        justify-content: space-between;
        align-items: center;
        max-width: none;
        padding: 0 20px;
    }

    &__links {
        font-size: 12px;
        color: $font-color-secondary;
        display: inline-block;

        a {
            color: $font-color-secondary;
            padding-right: 10px; 
            margin-right: 10px; 
            border-right: 1px solid #fff;

            &:last-child {
                padding: 0; 
                margin: 0; 
                border: 0;
            }
        }
    }
}